<header class="navbar navbar-expand-md navbar-light d-print-none" ...attributes>
  <div class="container-xl">
    <h1 class="navbar-brand d-none-navbar-horizontal pe-0 pe-md-3">
      <a href="/">
        <img src="assets/logo.svg" height="45" alt="oee.ai" class="w-auto">
      </a>
    </h1>
  </div>
</header>